.graphiql {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
  padding: 3px;
  height: calc(100vh - 160px);
  width: 100%;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}
