.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 100%;
  width: 100%;
  gap: 10px;

  .title {
    font-size: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }

  .input {
    border: 1px solid black;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
  }

  .pass {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
  }

  .visibilityIcon {
    position: absolute;
    right: 0;
  }

  .login {
    color: rgb(109, 182, 0);
  }
  .notlogin {
    color: coral;
  }
  .error {
    font-size: 16px;
    color: red;
  }
}
