.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px;
  width: 100%;
  @media (max-width: 1023px) {
    padding: 10px;
  }

  .about,
  .developers,
  .rss, 
  .stack {
    padding-bottom: 10px;
    width: 100%;
  }

  .row {
      display: flex;
      flex-wrap: wrap;
      gap: 100px;
      align-items: center;
      justify-content: center;
      width: 100%;
      @media (max-width: 1023px) {
        gap: 30px;
      }
  }

  .developer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    width: 270px;
    height: 465px;

    .col {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
    }

    .position {
      font-size: 17px;
      font-weight: 700;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name {
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contrList {
      font-size: 16px;
    }

  }

  .title {
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 10px;
  }

  .text {
    font-size: 22px;
    line-height: 130%;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .list {
    font-size: 18px;
    line-height: 120%;
    margin-left: 20px;
  }
}
