.docs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  position: relative;
  border-right: 1px solid rgb(200, 200, 200);
  @media (max-width: 1023px) {
    flex-direction: column;
    height: auto;
    border-right: none;
    border-bottom: 1px solid rgb(200, 200, 200);
  }

  .btnRow {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 1023px) {
      height: 40px;
      width: 100%;
    }

    .docsOpenBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
    }
  }

  .docsText {
    height: 100%;
    width: 300px;
    padding: 5px;
    overflow-y: auto;
    @media (max-width: 1023px) {
      height: 100px;
      width: 100%;
    }
  }
}
