.input-error {
  line-height: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0 5px;
  background-color: rgb(255, 126, 71);
  font-weight: bold;
  color: #373737;
  margin: -10px auto 0;
  width: 100%;
}