.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  min-height: 100px;
  transition: 0.7s ease;
  border-bottom: 1px solid rgb(202, 200, 200);

  &._scroll {
    min-height: 60px;
    background-color: rgb(237, 237, 237);
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
